.size-1 {
    font-size: 20px;
    font-weight: bold;
}

.size-2 {
    font-size: 1rem;
    font-weight: bold;
}

.size-3 {
    font-size: 14px;
}

.hover-text:hover {
    color: rgba(0,0,0,.7) !important;
}
.bg-1 {
   background-color:#007bff !important;
}
.error {
    color: #dc3545;
}