@model ProductsListViewModel

<div class="row">
    @foreach (var p in Model.Products)
    {
        <div class="col-3">

            <partial name="ProductSummary" model="p" />
        </div>

    }

</div>


<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1">
</div>
