
    <div id="product">
        <div class="card w-25">
            <div class="card-header ">
              <img src="/Img/pexels-cottonbro-4273468.jpg" class="w-100" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Homeland Elegies</h5>
              <p class="card-text">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>

              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="text-danger" style="font-size: 25px;">15.00 $</p>
              <a href="#" class="btn btn-primary">Add</a>
            </div>
          </div>
    </div>
</body>

</html>