<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="shortcut icon" type="image/png" href="/Img/icons8-book-100.png" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/JS/jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="/JS/jquery-3.5.1.min.js"></script>
    <script src="/JS/jquery-3.5.1.slim.min.js"></script>
    <script src="/JS/bootstrap.bundle.min.js"></script>
    <script src="/JS/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="JS/script.js"></script>
    <style>
        .checked {
            color: orange;
        }
        .fa{
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="product">
        <div class="card w-25">
            <div class="card-header ">
              <img src="/Img/pexels-cottonbro-4273468.jpg" class="w-100" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Homeland Elegies</h5>
              <p class="card-text">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>

              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="text-danger" style="font-size: 25px;">15.00 $</p>
              <a href="#" class="btn btn-primary">Add</a>
            </div>
          </div>
    </div>
</body>

</html>