@page
@model PizzaMenu.Pages.Produc.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Status" class="control-label"></label>
                <input asp-for="Product.Status" class="form-control" />
                <span asp-validation-for="Product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Location" class="control-label"></label>
                <input asp-for="Product.Location" class="form-control" />
                <span asp-validation-for="Product.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SizeS" class="control-label"></label>
                <input asp-for="Product.SizeS" class="form-control" />
                <span asp-validation-for="Product.SizeS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SizeL" class="control-label"></label>
                <input asp-for="Product.SizeL" class="form-control" />
                <span asp-validation-for="Product.SizeL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SizeXL" class="control-label"></label>
                <input asp-for="Product.SizeXL" class="form-control" />
                <span asp-validation-for="Product.SizeXL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UrlImage" class="control-label"></label>
                <input asp-for="Product.UrlImage" class="form-control" />
                <span asp-validation-for="Product.UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
