@page
@model Practive_T1909M_TruongThanhTu.Pages.Products.ProductModel
@{
    ViewData["Title"] = "Product page";
}
<div class="card-title text-center font-weight-bold" style="font-size:23px">My ProductManage</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 col-sm-6 col-12">
            <img src="@product.Image" alt="hihi" style="height:300px">
            <h3 style="font-size:16px" class="mt-2">@product.Name</h3>
            <p>@product.Price $</p>
        </div>
    }
</div>
