* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px !important;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
